# Dependency directories
node_modules/
dist/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Version control
.git/
.gitignore

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*